div.form-container {
    border: 1px solid #ccc;
    border-radius: 16;
    padding: 2rem;
    width: 300px;
    margin: auto;
    box-shadow: 0 8px 24px rgba(0,0,0,0.1);
    background: #fff;
}

div.form-container .form-title {
    color: #000;
}